.photo-widget-container {
    padding-right: 0 !important;
}

.photo-load-widget-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.loaded-photo-container {
    position: relative;
    z-index: 10;
}

.loaded-photo-container > .loaded-photo {
    max-width: 200px;
    max-height: 200px;
}

.photo-widget-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: inherit;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 11;
}

.photo-widget-buttons > .photo-widget-btn {
    min-width: 65px;
}