.photo-widget-container {
    padding-right: 0 !important;
}

.photo-load-widget-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.loaded-photo-container {
    position: relative;
    width: 100%;
    z-index: 10;
}

.clear-photo-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    padding: inherit;
    z-index: 11;
    right: 0;
}

.loaded-photo-container > .loaded-photo {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.photo-widget-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: inherit;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 11;
}

.photo-widget-buttons > .photo-widget-btn {
    min-width: 65px;
}

.camera {
    display: flex;
    justify-content: center;
    position: relative;
}

.camera > .camera-canvas {
    display: none;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.camera > .camera-not-available {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.camera > .camera-input-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
}

.camera .camera-stream {
    position: relative;
    height: 100%;
}

.hide-photo-widget-control {
    display: none;
}
