.photo-widget-container {
    padding-right: 0 !important;
}

.photo-load-widget-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.loaded-photo-container {
    position: relative;
    z-index: 10;
}

.photo-load-widget-container .loaded-photo {
    
}

.photo-widget-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
}