<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">

        <title>Заполнение заявки - Кредитование ФЛ</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!--link href="/static/css/bs_table_rows_highlight.css" rel="stylesheet"-->
        <link href="/static/css/photo_widget.css" rel="stylesheet">
        <link href="/static/css/passport_scans.css" rel="stylesheet">
        <link th:href="@{/static/css/common.css}" rel="stylesheet">
        <link th:href="@{/static/css/widget.contacts.repeater.css}" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js"></script>
    </head>
    <body>
        
        <div class="container my-3">
            <a id="return-index-link" href="/" onclick="event.preventDefault();">Вернуться на главную</a>
        </div>
        <div class="container border rounded">
            <div class="container mt-3">
                <h2>Заполнение анкеты</h2>
            </div>
            <div class="container mt-3">
                <form id="profile-form" th:object="${credit.profile}">
                    <div class="row">
                        <div class="col-8 border rounded py-2 mb-2">
                            <div class="row">
                                <div class="col-12 px-2">
                                    <h4 class="d-flex justify-content-center">Персональная информация</h4>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4 px-2">
                                    <label for="lastname-input" class="form-label">Фамилия</label>
                                    <input class="form-control" type="text" id="lastname-input"
                                           autocomplete="off" name="lastname" th:value="*{lastname}"
                                    />
                                    <div class="invalid-feedback">
                                        <span>Допустимые символы: кириллица, -, пробел</span>
                                    </div>
                                </div>
                                <div class="col-4 px-2">
                                    <label for="firstname-input" class="form-label">Имя</label>
                                    <input class="form-control" type="text" id="firstname-input"
                                           autocomplete="off" name="firstname" th:value="*{firstname}"
                                    />
                                    <div class="invalid-feedback">
                                        <span>Допустимые символы: кириллица, -, пробел</span>
                                    </div>
                                </div>
                                <div class="col-4 px-2">
                                    <label for="middlename-input" class="form-label">Отчество</label>
                                    <input class="form-control" type="text" id="middlename-input"
                                           autocomplete="off" name="middlename" th:value="*{middlename}"
                                    />
                                    <div class="invalid-feedback">
                                        <span>Допустимые символы: кириллица, -, пробел</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4 px-2">
                                    <label for="birthdate-input" class="form-label">Дата рождения</label>
                                    <input class="form-control" type="date" id="birthdate-input"
                                           autocomplete="off" name="birthdate" th:value="*{birthdate}"
                                    />
                                </div>
                                <div class="col-4 px-2">
                                    <label for="citizenship-input" class="form-label">Гражданство</label>
                                    <input class="form-control" type="text" id="citizenship-input"
                                           autocomplete="off" name="citizenship" th:value="*{citizenship}"
                                    />
                                </div>
                                <div class="col-4 px-2">
                                    <label for="sex-input" class="form-label">Пол</label>
                                    <select class="form-select" id="sex-input">
                                        <option selected>&lt;Не выбрано&gt;</option>
                                        <option th:each="s : ${sex}" th:text="${s.displayValue}" th:value="${s}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="photo-widget-container col-4 mb-2">
                            <!--Здесь будет виджет с фотографией-->
                            <div class="container border rounded mr-0 py-2">
                                <div class="row">
                                    <h4 class="d-flex justify-content-center">Фотография</h4>
                                </div>
                                <div class="row mt-3">
                                    <div id="photo-load-widget-container" class="photo-load-widget-container">
                                        <div id="photo-load-widget" class="loaded-photo-container container d-flex justify-content-center">
                                            <div class="clear-photo-btn-container">
                                                <button id="clear-photo-btn" class="clear-photo-btn btn btn-danger photo-widget-control hide-photo-widget-control" type="button">
                                                    <span class="bi bi-trash3"></span>
                                                </button>
                                            </div>
                                            <img id="loaded-photo" th:src="@{/static/assets/profile/empty_avatar.png}" alt="Аватар" class="loaded-photo rounded"/>
                                            <input id="file-photo-input" type="file" accept=".jpg, .png, .jpeg" class="d-none">
                                        </div>
                                        <div class="photo-widget-buttons">
                                            <button id="camera-photo-btn" type="button" class="btn btn-sm btn-primary mx-2 photo-widget-btn photo-widget-control hide-photo-widget-control"
                                                data-bs-toggle="modal" data-bs-target="#camera-popup">Камера</button>
                                            <button id="file-photo-btn" type="button" class="btn btn-sm btn-primary mx-2 photo-widget-btn photo-widget-control hide-photo-widget-control">Файл</button>
                                        </div>
                                        <div class="modal fade" id="camera-popup" data-bs-backdrop="static" tabindex="-1" aria-labelledby="camera-popup-title" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Сделать фотографию с камеры</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="camera-area" class="camera">
                                                            <canvas id="camera-canvas" class="camera-canvas"></canvas>
                                                            <img id="no-camera-img" class="camera-not-available rounded" th:src="@{/static/assets/profile/no_camera.png}" alt="Камера не доступна">
                                                            <div id="camera-input-container" class="camera-input-container d-none">
                                                                <video id="camera-input" class="camera-stream"></video>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="take-photo-btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Снять</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 border rounded mb-2 py-2">
                            <div class="row">
                                <h4 class="d-flex justify-content-center">Паспорт</h4>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="passport-series-input" class="form-label">Серия паспорта</label>
                                    <input class="form-control" type="text"
                                           id="passport-series-input" placeholder="__ __" autocomplete="off"
                                           name="passportSeries" th:value="*{passport.series}"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="passport-number-input" class="form-label">Номер паспорта</label>
                                    <input class="form-control" type="text"
                                           id="passport-number-input" placeholder="______" autocomplete="off"
                                           name="passportNumber" th:value="*{passport.number}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label for="passport-issue-date-input" class="form-label">Дата выдачи</label>
                                    <input class="form-control" type="date"
                                           id="passport-issue-date-input" autocomplete="off"
                                           name="issueDate" th:value="*{passport.issueDate}"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="passport-department-code-input" class="form-label">Код подразделения</label>
                                    <input class="form-control" type="text"
                                           id="passport-department-code-input" placeholder="___-___"
                                           autocomplete="off"
                                           name="departmentCode" th:value="*{passport.departmentCode}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="passport-issue-place-input" class="form-label">Кем выдан</label>
                                    <input class="form-control" type="text"
                                           id="passport-issue-place-input" autocomplete="off"
                                           name="issuePlace" th:value="*{passport.issuePlace}"
                                    />
                                </div>
                            </div>
                            <!-- Коллекция сканов паспорта -->
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label for="passport-scans-container" class="form-label">Сканы</label>
                                    <div id="passport-scans-container">
                                        <input id="scans-control" type="file" accept=".jpg, .png, .jpeg" class="d-none" />
                                        <div id="scans-collection-container" class="scans-collection-widget row m-0">
                                            <!--p th:if="*{passport.scans.size() == 0}">Коллекция сканов пуста</p-->
                                            <!--div class="row border rounded" th:each="scan : ${credit.profile.passport.scans}">
                                                <p th:value="${scan.scanFile.name}"></p>
                                            </div-->
                                            <div th:each="scan : *{passport.scans}" 
                                                th:id="${'passport-scan-' + scan.id}" 
                                                th:value="${scan.id}"
                                                class="col-12 form-control d-flex justify-content-between scan-element"
                                            >

                                                <input th:id="${'scan-control-' + scan.id}" th:files="${scan.scanFile.content}" class="d-none" />
                                                <div class="d-flex flex-column justify-content-center">
                                                    <span class="p-0" th:text="${scan.scanFile.name}">File name</span>
                                                </div>
                                                <div class="d-flex">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary mx-1">
                                                        <span class="bi bi-download"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger">
                                                        <span class="bi bi-trash3"></span>
                                                    </button>
                                                </div>

                                            </div>
                                            
                                        </div>
                                        <div id="add-scan-container" class="add-scan-container">
                                            <button type="button" id="add-scan-button" class="btn btn-link px-0 link-button">Добавить файл</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Блок способов связи-->
                    <div class="row">
                        <div class="col-12 border rounded mb-2 py-2">
                            <!--Заголовок-->
                            <div class="row">
                                <h4 class="d-flex justify-content-center">Способ связи</h4>
                            </div>
                            <div id="contacts-repeater" class="row">
                            	<!-- Подгрузка уже существующих контактов из БД -->
                            	<div th:each="ct, ctIndex : *{contacts}" th:id="${'contact-' + ctIndex}" class="row my-2">
                            		<div class="col-11">
                            			<div class="row">
                            				<div class="col-4">
                            					<label th:for="${'contact-type-input' + ctIndex}" class="form-label">Статус способа связи</label>
                            					<select th:id="${'contact-type-input' + ctIndex}" class="form-select">
                            						<option th:each="ctType : ${contactTypes}" th:value="${ctType}" th:attr="selected=${ctType == ct.contactType}">
                            					</select>
                            				</div>
                            				<div class="col-4">
                            					<label th:for="${'contact-value-' + ctIndex}" class="form-label">Значение</label>
                            					<input th:id="${'contact-value-' + ctIndex}" class="form-control phone-input"
                            						type="text" placeholder="+7 (___) ___-__-__" autocomplete="off"
                            					/>
                            				</div>
                            				<div class="col-4">
                            					<label th:for="${'contract-comment-' + cIndex}" class="form-label">Комментарий</label>
                            					<input th:id="${'contact-comment-' + ctIndex}" class="form-control" type="text" autocomplete="off">
                            				</div>
                            			</div>
                            		</div>
                            		<div class="col-1 d-flex align-items-end justify-content-center py-1">
                            			<button th:id="${'contact-remove-' + ctIndex}" class="btn btn-sm btn-outline-danger link-button"
                            				type="button">
                            				
                            				<span class="bi bi-trash3"></span>	
                            			</button>
                            		</div>
                            	</div>
                            </div>
                            
                            <!--Кнопка добавления способа связи-->
                            <div class="col-12">
                                <div id="add-contact-btn-container">
                                    <button type="button" id="add-contact-button" class="btn btn-link px-0 link-button">Добавить способ связи</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 border rounded mb-2 py-2">
                            <div class="row">
                                <h4 class="d-flex justify-content-center">Дополнительная информация</h4>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="tin-input" class="form-label">ИНН</label>
                                    <input class="form-control" type="text"
                                            id="tin-input" placeholder="____________" autocomplete="off"
                                            name="tin" th:value="*{tin}"
                                    />
                                </div>
                                <div class="col-6">
                                	<label for="comment-input" class="form-label">Комментарий</label>
                                	<input class="form-control" type="text"
                                			id="comment-input" autocomplete="off"
                                			name="comment" th:value="*{comment}"
                                	/>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-12 py-3">
                            		<div class="form-check">
	                            		<input id="consent-personal-data-input" class="form-check-input" 
	                            			type="checkbox" value=""
	                            		/>
	                            		<label class="form-check-label" for="consent-personal-data-input">
	                            			Согласие на обработку персональных данных
	                            		</label>
	                            	</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>

        </div>
        <div class="container my-3">
            <div class="row">
            	<div class="col-6 d-flex justify-content-start">
            		<button class="btn btn-primary">Заполнить анкету</button>
            	</div>
            	<div class="col-6 d-flex justify-content-end">
            		<button class="btn btn-danger">Отказаться от оформления</button>
            	</div>
            		
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src=@{/static/js/profile.js}></script>
        <script type="module" th:src="@{/static/js/widget.photo.js}"></script>
        <script type="module" th:src="@{/static/js/widget.collection.files/widget.collection.files.js}"></script>
        <script th:inline="javascript">
        	/*<![CDATA[*/
        	
        	var contactTypesDisplay = /*[[${displayValues}]]*/ {};
        	var contactTypes = /*[[${contactTypes}]]*/ {};
        	
        	
        	/*]]>*/
        </script>
        <script type="module" th:src="@{/static/js/widget.contacts.repeater/widget.contacts.repeater.js}"></script>

    </body>
</html>